@model MVCCrudDemo.Models.ViewModel.RegisterModel
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="~/Content/Theme/LoginPage/fonts/icomoon/style.css" rel="stylesheet" />

    <link href="~/Content/Theme/LoginPage/css/owl.carousel.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="~/Content/Theme/LoginPage/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Style -->
    <link href="~/Content/Theme/LoginPage/css/style.css" rel="stylesheet" />

    <title>Login</title>
</head>
<body>



    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <!-- <div class="col-md-6 order-md-2">
                  <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                </div> -->
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <div class="mb-4">
                                    <h3>Sign In to <strong>Admin DashBoard</strong></h3>
                                    <p class="mb-4 text-danger">*Fill all details</p>
                                </div>
                                @using (Html.BeginForm(FormMethod.Post))
                                {

                                    <div class="form-group first">
                                        <label for="username">Username</label>
                                        @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group first">
                                        <label for="username">Email</label>
                                        @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "form-control", type = "email" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group last mb-4">
                                        <label for="password">Password</label>
                                        @Html.TextBoxFor(m => m.Password, htmlAttributes: new { @class = "form-control", type = "password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group last mb-4">
                                        <label for="ConfirmPassword">Confirm Password</label>
                                        @Html.TextBoxFor(m => m.Confirm_password, htmlAttributes: new { @class = "form-control", type = "password" })
                                        @Html.ValidationMessageFor(m => m.Confirm_password, "", new { @class = "text-danger" })
                                    </div>

                                    <input type="submit" value="Sign Up" class="btn btn-pill text-white btn-block btn-primary">

                                    <span class="d-block text-center my-4 text-muted">
                                        @Html.ActionLink("Already User ? Login ", "Login", "Login")
                                    </span>

                                    <div class="d-flex mb-5 align-items-center">
                                        <label class="control control--checkbox mb-0">
                                            <span class="caption">Remember me</span>
                                            <input type="checkbox" checked="checked" />
                                            <div class="control__indicator" style="background-color:#6610f2"></div>
                                        </label>
                                    </div>

                                    <span class="d-block text-center my-4 text-muted"> or sign Up with</span>

                                    <div class="social-login text-center">
                                        <a href="#" class="facebook">
                                            <span class="icon-facebook mr-3"></span>
                                        </a>
                                        <a href="#" class="twitter">
                                            <span class="icon-twitter mr-3"></span>
                                        </a>
                                        <a href="#" class="google">
                                            <span class="icon-google mr-3"></span>
                                        </a>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="~/Content/Theme/LoginPage/js/jquery-3.3.1.min.js"></script>

    <script src="~/Content/Theme/LoginPage/js/popper.min.js"></script>

    <script src="~/Content/Theme/LoginPage/js/bootstrap.min.js"></script>

    <script src="~/Content/Theme/LoginPage/js/main.js"></script>
</body>
</html>